<<<<<<< HEAD
#logo{
	width: 5%;
	margin: 0 auto;
	left: 0px;
	top: 5px;
	float: left;
	margin-top: 2px;
}

#logo a img{
	border-style: none;
}

#tituloTopo{
	width: 93%;
	margin: 0 auto;
	margin-top: 15px;
	left: 300px;
	float: right;
	text-align: right;
}

#topo{
	float: left;
	width:100%;
}

.outputIP{
	float: right;
	font-size:14px !important;
	color: #5c5c5c;
	
}

#divInfoServidor{
	float: right;
}
.desenvolvedor{
	color: #5c5c5c !important;
}
=======
#logo{
	width: 5%;
	margin: 0 auto;
	left: 0px;
	top: 5px;
	float: left;
	margin-top: 2px;
}

#logo a img{
	border-style: none;
}

#tituloTopo{
	width: 93%;
	margin: 0 auto;
	margin-top: 15px;
	left: 300px;
	float: right;
	text-align: right;
}

#topo{
	float: left;
	width:100%;
}

.outputIP{
	float: right;
	font-size:14px !important;
	color: #5c5c5c;
	
}

#divInfoServidor{
	float: right;
}
.desenvolvedor{
	color: #5c5c5c !important;
}
>>>>>>> bafbdf018ef0117e4c6395b601a35fc901b6f766
